.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 90px;
    background-color: rgb(4, 35, 54);
}
.header-name{
  color: white;  
  font-size: 30px;
}
.header-details a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}
